fastapi==0.115.0
uvicorn[standard]==0.32.0
python-multipart==0.0.17
pydantic==2.9.2
openai==1.58.1
langfuse==2.60.4
httpx==0.28.1
python-dotenv==1.0.1
gunicorn==23.0.0
itsdangerous==2.2.0
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
azure-storage-blob==12.24.0
azure-core==1.32.0
marshmallow==3.23.2
azure-ai-ml==1.26.3
azure-identity==1.19.0
azure-mgmt-resource==23.1.1
